@layer qti-components {
  qti-text-entry-interaction {
    &:is(:state(candidate-correct), [data-state~='candidate-correct']) {
      &::part(input) {
        background-color: var(--qti-correct);
      }
    }
    &:is(:state(candidate-partially-correct), [data-state~='candidate-partially-correct']) {
      &::part(input) {
        background-color: var(--qti-partially-correct);
      }
    }
    &:is(:state(candidate-incorrect), [data-state~='candidate-incorrect']) {
      &::part(input) {
        background-color: var(--qti-incorrect);
      }
    }
    &::part(input) {
      @apply text;
    }
    &:hover {
      @apply hov;
    }
    &:focus-within {
      &::part(input) {
        @apply foc act-bor;
      }
    }
  }
}
