@layer qti-components {
  qti-choice-interaction {
    &::part(message) {
      @apply validation-message;
    }

    &.qti-input-control-hidden {
      & qti-simple-choice {
        position: relative;
        @apply button;
        &:hover {
          @apply hov;
        }
        &:focus {
          @apply foc;
        }
        &::part(ch) {
          display: none;
        }
        &:is(:state(--checked), [data-state~='--checked']),
        &[aria-checked='true'] {
          @apply act;
        }
        &:is(:state(readonly), [data-state~='readonly']),
        &[aria-readonly='true'] {
          @apply rdo;
        }
        &:is(:state(disabled), [data-state~='disabled']),
        &[aria-disabled='true'] {
          @apply dis;
        }
        &:is(:state(correct-response), [data-state~='correct-response']),
        &[data-correct-response='true'] {
          border: 3px solid var(--qti-correct) !important;
          padding-right: 30px;
          &::after {
            content: '\02714';
            color: var(--qti-correct);
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 1.2em;
            font-weight: bold;
          }
        }
      }
    }

    &:not(.qti-input-control-hidden) {
      & qti-simple-choice {
        @apply check;
        &:not([aria-disabled='true'], [aria-readonly='true'], :is(:state(--checked), [data-state~='--checked'])):hover {
          @apply hov;
        }
        &:focus {
          @apply foc;
        }
        &:is(:state(--checked), [data-state~='--checked']),
        &[aria-checked='true'] {
          @apply act;
        }
        &:is(:state(candidate-correct), [data-state~='candidate-correct']) {
          background-color: var(--qti-correct);
        }
        &:is(:state(candidate-incorrect), [data-state~='candidate-incorrect']) {
          background-color: var(--qti-incorrect);
        }
        &:is(:state(readonly), [data-state~='readonly']),
        &[aria-readonly='true'] {
          @apply rdo;
        }
        &:is(:state(disabled), [data-state~='disabled']),
        &[aria-disabled='true'] {
          @apply dis;
        }
        &::part(cha) {
          @apply check-size;
        }
        &:is(:state(radio), [data-state~='radio'])::part(ch) {
          @apply check-radio;
        }
        &:is(:state(radio), [data-state~='radio']):is(:state(--checked), [data-state~='--checked'])::part(cha) {
          @apply check-radio-checked;
        }
        &:is(:state(checkbox), [data-state~='checkbox'])::part(ch) {
          @apply check-checkbox;
        }
        &:is(:state(checkbox), [data-state~='checkbox']):is(:state(--checked), [data-state~='--checked'])::part(cha) {
          @apply check-checkbox-checked;
        }
      }
    }

    & qti-simple-choice {
      width: fit-content;
      cursor: pointer;
      &:is(:state(correct-response), [data-state~='correct-response']),
      &[data-correct-response='true'] {
        &::after {
          content: '\02714';
          color: var(--qti-correct);
        }
      }
    }

    & qti-simple-choice > p {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}
